body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url('Fondo.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

h1 {
  
  color: #333;
}

.note {
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-line; 
}

.note-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}


button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.note .edit-button {
  background-color: #04e48b; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.note .edit-button:hover {
  background-color: #218838; 
}

button:hover {
  background-color: #0056b3;
}

.note-list {
  flex-wrap: column;
  justify-content: center;
}

.notes-container {
  margin-top: 50px;
}

.note {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
}

.note button {
  background-color: #ee133f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.note button:hover {
  background-color: #bf0013;
}